
<ion-header>
  <ion-toolbar>
    <ion-title>
      Magic 8 Ball
    </ion-title>
    <ion-buttons >
      <ion-button routerLink="/about" routerDirection="forward">
        About
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="giveAnswer()">

    <ion-card-header>
      Ask a question
    </ion-card-header>

    <ion-card-content>
      <img src="assets/magic8ball.gif" [ngClass]="cssClass" alt="magic 8 ball">
    </ion-card-content>

  </ion-card>
</ion-content>
